<footer>
  <div class="pre-footer-container">
    <div class="container">
      <div class="pre-footer-blocks-container">
        <div class="row">

          <div class="col col-md-3 col-sm-6">
            <div class="pre-footer-block about-block">
              <div class="block-icon">
                <img src="../../static/assets/images/Knockout5.png" class="img-responsive" alt="Knockout" title="Knockout"/>
              </div>
              <div class="block-quote">
              <p>Contact Knockout Home Inspections today for more information on our services.</p>
              </div>
              <div class="block-nav">
                <ul class="list-inline-float">
                  <li><a href="https://www.facebook.com/Knockout-Home-Inspections-750712654941042/" class="hover-facebook-bg"><i class="fa fa-facebook"></i></a></li>
                <!--	<li><a href="javascript:;" class="hover-twitter-bg"><i class="fa fa-twitter"></i></a></li> -->
                 <!--	<li><a href="javascript:;" class="hover-linkedin-bg"><i class="fa fa-linkedin"></i></a></li> -->
                  <li><a href="mailto:knockoutinspections@gmail.com" class="hover-mail-bg"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col col-lg-6 col-sm-6" id="cnt_contact">
            <div class="pre-footer-block contact-block has-form">
              <div class="block-title">
                <h3>Contact Form</h3>
              </div>
              <div class="block-form">
                <form action="https://formspree.io/nate@KOinspections.com" method="POST">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="Message"></textarea>
                  </div>
                  <div class="btn-submit">
                    <button class="btn btn-info">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col col-md-3 col-sm-6">
            <div class="pre-footer-block twitter-block">
              <div class="block-title">
                <h3>Knockout Home Inspections</h3>
              </div>
              <div class="block-feeds">
                <p>22862 Mcauliffe Drive Robertsdale, AL</p>
                <a href="tel:2519892213">(251) 989-2213</a>
                <a href="mailto:nate@KOinspections.com">nate@KOinspections.com</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="post-footer-container">
    <div class="container">
      <div class="post-footer-contents">
        <div class="copyright-container">
          <p>&copy; Knockout</p>
        </div>
        <div class="footer-nav-container">
          <ul class="list-inline footer-nav">
            <li><a href="#cnt_top">Home</a></li>
            <li><a href="#cnt_about">About</a></li>
            <li><a href="#cnt_services">Services</a></li>
            <li><a href="#cnt_solutions">What Sets Us Apart</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Custom Project Script -->
<script src="/static/assets/js/project-script.js"></script>
<script src="/static/assets/js/sticky-nav.js"></script>
