<header id="vh_viewport">
  <div class="overlay"></div>
  <div class="header-content-container">
    <div class="social-nav-container clearfix">
      <div class="container">
        <div class="social-nav-inner">
          <ul class="list-inline-float">
          <!--	<li><a href="javascript:;" class="hover-twitter-color"><i class="fa fa-twitter"></i></a></li> -->
            <li><a href="https://www.facebook.com/Knockout-Home-Inspections-750712654941042/" class="hover-facebook-color"><i class="fa fa-facebook"></i></a></li>
          <!--	<li><a href="javascript:;" class="hover-linkedin-color"><i class="fa fa-linkedin"></i></a></li> -->
            <li><a href="mailto:knockoutinspections@gmail.com" class="hover-mail-color"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-navbar-container" id="sticky_nav">
      <div class="container">
        <nav class="navbar navbar-default navbar-reset main-navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cnt_main_nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/static/assets/images/knockoutsmall.png" class="img-responsive" alt="Knockout" title="Knockout"/></a>
          </div>
          <div class="collapse navbar-collapse main-nav-container" id="cnt_main_nav">
            <ul class="nav navbar-nav main-nav navbar-right">
              <li><a href="#cnt_top">Home</a></li>
              <li><a href="#cnt_about">About</a></li>
              <li><a href="#cnt_services">Services</a></li>
              <li><a href="#cnt_solutions">What Sets Us Apart</a></li>
              <li>
                <a href="javascript:;">Resources<i class="fa fa-angle-down"></i></a>
                <div class="sub-nav-container">
                  <ul class="list-unstyled sub-nav">
                    <li><a href="https://strengthenalabamahomes.com/" target="_blank">Strengthen Alabama Homes</a></li>
                    <li><a href="http://www.smarthomeamerica.org/dont-goof" target="_blank">Don't Goof</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#cnt_contact">Contact</a></li>
              <li><a href="/fortified.html">Are You Fortified?</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="header-banner-container">
      <div class="container">
        <div class="header-banner-wrapper">
          <div class="banner-text-container">
            <div class="head-title">
              <h1><span>Knockout</span>, full service home inspections</h1>
            </div>
            <div class="sub-title">
              <h3>Certified home inspector, providing the best service possible</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll-arrow-container">
      <div class="container-fluid">
        <a href="#cnt_section" class="btn btn-primary smooth"><i class="fa fa-angle-double-down"></i></a>
      </div>
    </div>
  </div>
</header>
