{# ------------------------------------------------------- #}
{# ONE OFF VIEW about #}
{# This page can use any data from http:localhost:2000/cms/#/form/about/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this about's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.about.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.about.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.about.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.about.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.about.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.about.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.about.slug }}
      </li>
      <li>
        <strong>Text: </strong>
        {{ cms.about.text|safe }}
      </li>
  </ul>
{% endblock %}
