{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}


		<section id="cnt_section">
		<!--	<article class="estimate-form-container">
				<div class="estimate-form-inner">
					<div class="estimate-form-wrapper">
						<form action="#" method="POST">
							<div class="row">

								<div class="col col-lg-3">
									<div class="form-title">
										<h3>Request a Free Estimate</h3>
									</div>
								</div>
								<div class="col col-lg-9">
									<div class="form-contents">
										<div class="row row-12">

											<div class="col col-md-10">
												<div class="row row-12">
													<div class="col col-md-4">
														<div class="form-group">
															<div class="selectpicker-container">
																<select name="knockout_type" id="knockout_type" class="select-picker">
																	<option>Termite control</option>
																	<option>Pest control</option>
																	<option>Bug control</option>
																	<option>Jerm control</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col col-md-4">
														<div class="form-group">
															<input type="text" name="name" id="name" class="form-control" placeholder="Name"/>
														</div>
													</div>
													<div class="col col-md-4">
														<div class="form-group">
															<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone"/>
														</div>
													</div>
												</div>
											</div>
											<div class="col col-md-2">
												<div class="btn-submit">
													<button class="btn btn-info btn-block">Get Started</button>
												</div>
											</div>

										</div>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
				<div class="shadow-image">
					<img src="assets/images/shadow.png" class="img-responsive"/>
				</div>
			</article>  -->

			<article class="knockout-features-container float-section" id="cnt_about">
				<div class="container">
					<div class="global-head-container head theme-dark head-center">
						<div class="head-wrapper">
							<div class="head-title">
								<h2>{{cms.about.name}}</h2>
							</div>
							<div class="head-quote">
                {{cms.about.text|safe}}
							</div>
							<div class="head-border"></div>
						</div>
					</div>
					<div class="body">
						<div class="feature-blocks-container">
							<div class="row row-60 row-feature">

								<div class="col col-md-4">
									<div class="feature-block">
										<div class="feature-block-wrapper">
										<!--	<div class="block-serial">
												<span><p>01.</p></span>
											</div>
											<div class="block-title">
												<h3>The Company</h3>
											</div>
											<div class="block-description">
												<p>Lorem ipsum dolor sit amet, vis ut habemus inciderint, omnium feugait at vix. Ne magna conceptam qui, ius wisi solet id. </p>
											</div>
											<div class="block-link">
												<a href="javascript:;">Read more<i class="fa fa-angle-double-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="feature-block">
										<div class="feature-block-wrapper">
										<img src="assets/images/internachi.jpg">
										<img src="assets/images/ahit.gif">


											<div class="block-serial">
												<span><p>02.</p></span>
											</div>
											<div class="block-title">
												<h3>Our Mission</h3>
											</div>
											<div class="block-description">
												<p>Lorem ipsum dolor sit amet, vis ut habemus inciderint, omnium feugait at vix. Ne magna conceptam qui, ius wisi solet id. </p>
											</div>
											<div class="block-link">
												<a href="javascript:;">Read more<i class="fa fa-angle-double-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="feature-block">
										<div class="feature-block-wrapper">
											<div class="block-serial">
												<span><p>03.</p></span>
											</div>
											<div class="block-title">
												<h3>Our Values</h3>
											</div>
											<div class="block-description">
												<p>Lorem ipsum dolor sit amet, vis ut habemus inciderint, omnium feugait at vix. Ne magna conceptam qui, ius wisi solet id. </p>
											</div>
											<div class="block-link">
												<a href="javascript:;">Read more<i class="fa fa-angle-double-right"></i></a>
											</div>
										</div>
									</div>
								</div> -->

							</div>
						</div>
					</div>
				</div>
			</article>
<!--
			<article class="knockout-skills-container float-section" id="cnt_services">
				<div class="container">
					<div class="global-head-container head theme-light head-left">
						<div class="head-wrapper">
							<div class="head-title">
								<h2>we handle with</h2>
							</div>
							<div class="head-quote">
								<p>Lorem ipsum dolor sit amet, his munere copiosae moderatius ut, an eos porro quaerendum, id quo nonumy meliore partiendo. Cum ea cibo quando. Ad qui quod maluisset.</p>
							</div>
							<div class="head-border"></div>
						</div>
					</div>
					<div class="body">
						<div class="skills-carousel-container">
							<div class="skills-carousel owl-carousel" id="skills_carousel">
								<div class="item">
									<div class="item-contents">
										<div class="block-image">
											<img src="assets/images/roof.jpg" class="img-responsive" alt="Termites Control" title="Termites Control"/>
										</div>
										<div class="block-title">
											<h3>Roof</h3>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="item-contents">
										<div class="block-image">
											<img src="assets/images/skill-img-02.png" class="img-responsive" alt="Spiders Control" title="Spiders Control"/>
										</div>
										<div class="block-title">
											<h3>spiders</h3>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="item-contents">
										<div class="block-image">
											<img src="assets/images/skill-img-03.png" class="img-responsive" alt="Beetle Control" title="Beetle Control"/>
										</div>
										<div class="block-title">
											<h3>beetles</h3>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="item-contents">
										<div class="block-image">
											<img src="assets/images/skill-img-04.png" class="img-responsive" alt="Rodents Control" title="Rodents Control"/>
										</div>
										<div class="block-title">
											<h3>rodents</h3>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="item-contents">
										<div class="block-image">
											<img src="assets/images/skill-img-01.png" class="img-responsive" alt="Termites Control" title="Termites Control"/>
										</div>
										<div class="block-title">
											<h3>termites</h3>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="item-contents">
										<div class="block-image">
											<img src="assets/images/skill-img-02.png" class="img-responsive" alt="Spiders Control" title="Spiders Control"/>
										</div>
										<div class="block-title">
											<h3>spiders</h3>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="item-contents">
										<div class="block-image">
											<img src="assets/images/skill-img-03.png" class="img-responsive" alt="Beetle Control" title="Beetle Control"/>
										</div>
										<div class="block-title">
											<h3>beetles</h3>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="item-contents">
										<div class="block-image">
											<img src="assets/images/skill-img-04.png" class="img-responsive" alt="Rodents Control" title="Rodents Control"/>
										</div>
										<div class="block-title">
											<h3>rodents</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>

			<article class="latest-news-about-knockout-container">
				<div class="container">
					<div class="global-head-container head theme-dark head-center">
						<div class="head-wrapper">
							<div class="head-title">
								<h2>Latest news &amp; about us</h2>
							</div>
							<div class="head-quote">
								<p>Lorem ipsum dolor sit amet, his munere copiosae moderatius ut, an eos porro quaerendum, id quo nonumy meliore partiendo. Cum ea cibo quando. Ad qui quod maluisset. </p>
							</div>
							<div class="head-border"></div>
						</div>
					</div>
					<div class="body">
						<div class="row row-30">

							<div class="col col-lg-4 col-md-5 col-md-push-7 col-lg-offset-1">
								<div class="about-knockout-container">
									<div class="block-subtitle">
										<h4>Knockout Pest Company We Provide</h4>
									</div>
									<div class="block-title">
										<h3>Best services you can count on</h3>
									</div>
									<div class="block-description">
										<p>Lorem ipsum dolor sit amet, tantas legendos has ne, error expetendis ex mea. Eu ornatus facilis graecis nec, his eius labore sensibus an, ne elitr reprimique persequeris vel.</p>
										<p>No nec salutatus adolescens, velit urbanitas constituam quo ea. Vel falli laboramus in. Id pro magna facilisi, sea dolorem percipitur sadipscing ad, epicuri philosophia ut eos. Sea laudem nullam luptatum ea, no iudico aliquam eos.</p>
									</div>
									<div class="block-btn">
										<a href="javascript:;" class="btn btn-special btn-primary">More about us<i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col col-md-7 col-md-pull-5">
								<div class="latest-news-container">
									<div class="latest-news-row">
										<a href="javascript:;">
											<div class="row row-xxs">

												<div class="col col-sm-4 col-xs-5">
													<div class="block-image">
														<img src="assets/images/news-img-01.png" class="img-responsive" alt="News Image" title="News Thumb"/>
													</div>
												</div>
												<div class="col col-sm-8 col-xs-7">
													<div class="block-text">
														<div class="block-text-head">
															<div class="block-title">
																<h3>News Title Here</h3>
															</div>
															<div class="block-datestamp">
																<p>Feb 10 . 2015</p>
															</div>
														</div>
														<div class="block-description">
															<p>Lorem ipsum dolor sit amet, qui ex saperet eligendi delicata, sea te atqui graeco mentitum, inani quaeque epicurei ex vel. Duo nemore aliquip at.</p>
														</div>
													</div>
												</div>

											</div>
										</a>
									</div>
									<div class="latest-news-row">
										<a href="javascript:;">
											<div class="row row-xxs">

												<div class="col col-sm-4 col-xs-5">
													<div class="block-image">
														<img src="assets/images/news-img-02.png" class="img-responsive" alt="News Image" title="News Thumb"/>
													</div>
												</div>
												<div class="col col-sm-8 col-xs-7">
													<div class="block-text">
														<div class="block-text-head">
															<div class="block-title">
																<h3>News Title Here</h3>
															</div>
															<div class="block-datestamp">
																<p>Feb 10 . 2015</p>
															</div>
														</div>
														<div class="block-description">
															<p>Lorem ipsum dolor sit amet, qui ex saperet eligendi delicata, sea te atqui graeco mentitum, inani quaeque epicurei ex vel. Duo nemore aliquip at.</p>
														</div>
													</div>
												</div>

											</div>
										</a>
									</div>
									<div class="latest-news-row">
										<a href="javascript:;">
											<div class="row row-xxs">

												<div class="col col-sm-4 col-xs-5">
													<div class="block-image">
														<img src="assets/images/news-img-03.png" class="img-responsive" alt="News Image" title="News Thumb"/>
													</div>
												</div>
												<div class="col col-sm-8 col-xs-7">
													<div class="block-text">
														<div class="block-text-head">
															<div class="block-title">
																<h3>News Title Here</h3>
															</div>
															<div class="block-datestamp">
																<p>Feb 10 . 2015</p>
															</div>
														</div>
														<div class="block-description">
															<p>Lorem ipsum dolor sit amet, qui ex saperet eligendi delicata, sea te atqui graeco mentitum, inani quaeque epicurei ex vel. Duo nemore aliquip at.</p>
														</div>
													</div>
												</div>

											</div>
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</article> -->

			<article class="knockout-services-container float-section" id="cnt_services">
				<div class="container">
					<div class="global-head-container head theme-light head-left">
						<div class="head-wrapper">
							<div class="head-title">
								<h2>Our Services</h2>
							</div>
							<div class="head-quote">
								<p>We are a full service home inspection company including:</p>
							</div>
							<div class="head-border"></div>
						</div>
					</div>
					<div class="body">
						<div class="services-blocks-container">
							<div class="row row-40 row-services">

								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
												<h3>- Single-family homes</h3>
											</div>
											<div class="block-title">
												<br>
												<h3>- Multi-family buildings</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
												<h3>- Townhouses</h3>
											</div>
											<div class="block-title">
												<br>
												<h3>- Condos</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
										        <h3>- Light Commercial Buildings</h3>
											</div>

										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="btn-all-services">
							<div class="btn-wrapper">
								<a href="javascript:;" class="btn btn-info btn-block">see all services</a>
							</div>
						</div>
					</div>
				</div>
			</article>

		<!--	<article class="knockout-team-container">
				<div class="container">
					<div class="global-head-container head theme-dark head-center">
						<div class="head-wrapper">
							<div class="head-title">
								<h2>Our experts Team</h2>
							</div>
							<div class="head-quote">
								<p>Lorem ipsum dolor sit amet, his munere copiosae moderatius ut, an eos porro quaerendum, id quo nonumy meliore partiendo. Cum ea cibo quando. Ad qui quod maluisset.</p>
							</div>
							<div class="head-border">
								<span></span>
							</div>
						</div>
					</div>
					<div class="body">
						<div class="team-blocks-container">
							<div class="row row-xxs">

								<div class="col col-md-3 col-xs-6">
									<div class="team-block">
										<div class="block-image">
											<img src="assets/images/team-member-img-01.png" class="img-responsive" alt="William Robinson" title="William Robinson"/>
										</div>
										<div class="block-text">
											<div class="block-title">
												<h3>William Robinson</h3>
											</div>
											<div class="block-description">
												<p>Pest Specialist</p>
												<p>Phone: +323 456 453</p>
											</div>
											<div class="block-btn">
												<a href="javascript:;" class="btn btn-special btn-primary">Email<i class="fa fa-angle-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-3 col-xs-6">
									<div class="team-block">
										<div class="block-image">
											<img src="assets/images/team-member-img-02.png" class="img-responsive" alt="Alexander Jonson" title="Alexander Jonson"/>
										</div>
										<div class="block-text">
											<div class="block-title">
												<h3>Alexander Jonson</h3>
											</div>
											<div class="block-description">
												<p>Company CEO</p>
												<p>Phone: +323 456 453</p>
											</div>
											<div class="block-btn">
												<a href="javascript:;" class="btn btn-special btn-primary">Email<i class="fa fa-angle-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-3 col-xs-6">
									<div class="team-block">
										<div class="block-image">
											<img src="assets/images/team-member-img-03.png" class="img-responsive" alt="Brett Conor" title="Brett Conor"/>
										</div>
										<div class="block-text">
											<div class="block-title">
												<h3>Brett Conor</h3>
											</div>
											<div class="block-description">
												<p>Pest Specialist</p>
												<p>Phone: +323 456 453</p>
											</div>
											<div class="block-btn">
												<a href="javascript:;" class="btn btn-special btn-primary">Email<i class="fa fa-angle-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-3 col-xs-6">
									<div class="team-block">
										<div class="block-image">
											<img src="assets/images/team-member-img-02.png" class="img-responsive" alt="Alexander Jonson" title="Alexander Jonson"/>
										</div>
										<div class="block-text">
											<div class="block-title">
												<h3>Alexander Jonson</h3>
											</div>
											<div class="block-description">
												<p>Company CEO</p>
												<p>Phone: +323 456 453</p>
											</div>
											<div class="block-btn">
												<a href="javascript:;" class="btn btn-special btn-primary">Email<i class="fa fa-angle-right"></i></a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</article>

			<article class="knockout-facts-container">
				<div class="container">
					<div class="body">
						<div class="facts-blocks-container">
							<div class="row row-60">

								<div class="col col-md-4">
									<div class="fact-block">
										<div class="fact-block-wrapper">
											<div class="block-image">
												<img src="assets/images/facts-img-01.png" class="img-responsive" alt="Latest Technologies" title="Latest Technologies"/>
											</div>
											<div class="block-title">
												<h3>Latest Technologies</h3>
											</div>
											<div class="block-description">
												<p>Lorem ipsum dolor sit amet, vis ut habemus inciderint, omnium feugait at vix. Ne magna conceptam qui, ius wisi solet id. </p>
											</div>
											<div class="block-link">
												<a href="javascript:;">Read more</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="fact-block">
										<div class="fact-block-wrapper">
											<div class="block-image">
												<img src="assets/images/facts-img-02.png" class="img-responsive" alt="Innovative Ideas" title="Innovative Ideas"/>
											</div>
											<div class="block-title">
												<h3>Innovative Ideas</h3>
											</div>
											<div class="block-description">
												<p>Lorem ipsum dolor sit amet, vis ut habemus inciderint, omnium feugait at vix. Ne magna conceptam qui, ius wisi solet id. </p>
											</div>
											<div class="block-link">
												<a href="javascript:;">Read more</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="fact-block">
										<div class="fact-block-wrapper">
											<div class="block-image">
												<img src="assets/images/facts-img-03.png" class="img-responsive" alt="Organized Workflows" title="Organized Workflows"/>
											</div>
											<div class="block-title">
												<h3>Organized Workflows</h3>
											</div>
											<div class="block-description">
												<p>Lorem ipsum dolor sit amet, vis ut habemus inciderint, omnium feugait at vix. Ne magna conceptam qui, ius wisi solet id. </p>
											</div>
											<div class="block-link">
												<a href="javascript:;">Read more</a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</article>
-->
			<article class="knockout-services-pesticides-container float-section" id="cnt_solutions">
				<div class="container">
					<div class="global-head-container head theme-dark head-center">
						<div class="head-wrapper">
							<div class="head-title">
								<h2>Why Choose Knockout?</h2>
							</div>
							<div class="head-quote">
								<p>Knockout Home Inspections is qualified to provide full service home inspections. Along with being a certified professional inspector, Knockout has years of experience in the field. </p>
							</div>
							<div class="head-border"></div>
						</div>
					</div>
					<div class="body">
						<div class="services-blocks-container">
							<div class="row row-60 row-services">

								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
												<h3>Experience</h3>
											</div>
											<div class="block-description">
												<p>Over 15 years of experience in the construction industry</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
												<h3>Competitive Pricing</h3>
											</div>
											<div class="block-description">
												<p>The highest quality service at an affordable price.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
												<h3>Excellent Service</h3>
											</div>
											<div class="block-description">
												<p>Knockout strives to provide friendly, professional, and efficient service.</p>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="row row-60 row-services">

								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
												<h3>InterNACHI Certified</h3>
											</div>
											<div class="block-description">
												<p>Knockout is certified by International Association of Certified Home Inspectors.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
												<h3>Full Service Inspector</h3>
											</div>
											<div class="block-description">
												<p>Knockout Home Inspections provides full service home inspections.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-md-4">
									<div class="service-block">
										<div class="service-block-wrapper">
											<div class="block-icon">
												<span><i class="fa fa-check"></i></span>
											</div>
											<div class="block-title">
												<h3>AHIT Certified Inspector</h3>
											</div>
											<div class="block-description">
												<p>Knockout is certified by the American Home Inspectors Training Institute.</p>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
<!--
						<div class="pesticide-blocks-container">
							<div class="row row-xxs">

								<div class="col col-md-3 col-xs-6">
									<div class="pesticide-block">
										<a href="javascript:;">
											<div class="block-image">
												<img src="assets/images/product-img-01.png" class="img-responsive" alt="Pesticide" title="Pesticide"/>
											</div>
											<div class="block-hover">
												<div class="block-hover-inner">
													<div class="block-title">
														<h3>product name</h3>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col col-md-3 col-xs-6">
									<div class="pesticide-block">
										<a href="javascript:;">
											<div class="block-image">
												<img src="assets/images/product-img-02.png" class="img-responsive" alt="Pesticide" title="Pesticide"/>
											</div>
											<div class="block-hover">
												<div class="block-hover-inner">
													<div class="block-title">
														<h3>product name</h3>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col col-md-3 col-xs-6">
									<div class="pesticide-block">
										<a href="javascript:;">
											<div class="block-image">
												<img src="assets/images/product-img-03.png" class="img-responsive" alt="Pesticide" title="Pesticide"/>
											</div>
											<div class="block-hover">
												<div class="block-hover-inner">
													<div class="block-title">
														<h3>product name</h3>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col col-md-3 col-xs-6">
									<div class="pesticide-block">
										<a href="javascript:;">
											<div class="block-image">
												<img src="assets/images/product-img-04.png" class="img-responsive" alt="Pesticide" title="Pesticide"/>
											</div>
											<div class="block-hover">
												<div class="block-hover-inner">
													<div class="block-title">
														<h3>product name</h3>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>

							</div> -->

							<div class="global-head-container head theme-dark head-center">
                                                <div class="head-wrapper">
                                                        <div class="head-title">
                                                                <h2>Full Service Inspections</h2>
                                                        </div>
                                                        <div class="head-quote">
                                                                <p>As an InterNACHI member Knockout Home Inspections must adhere to InterNACHI’s Standards of Practice.

This means that Knockout will attempt to inspect all of the following (when accessible):</p>
                                                        </div>
                                                        <div class="head-border"></div>
                                                </div>
                                        </div>
					<div class="row">


						<div class="col col-md-4">
							<ul class="service-list">
								<li>Roof, vents flashings, and trim</li>
								<li>Gutters and downspouts</li>
								<li>Skylight, chimney, etc.</li>
								<li>Decks, stoops, porches, walkways, and railings</li>
								<li>Eaves, soffit and fascia</li>
								<li>Grading and drainage</li>

							</ul>
						</div>
						<div class="col col-md-4">
							<ul class="service-list">
								<li>Basement, foundation, and crawlspace</li>
								<li>Heating systems</li>
								<li>Cooling systems</li>
								<li>Water heating system</li>
								<li>Interior plumbing fixtures and faucets</li>
								<li>Drainage sump pumps with accessible floats</li>

							</ul>
						</div>
						<div class="col col-md-4">
							<ul class="service-list">
								<li>Electrical service line and meter box</li>
								<li>Main disconnect and service line and meter box</li>
								<li>Electrical panels, breakers, and fuses</li>
								<li>Grounding and bonding</li>
								<li>Fireplace damper door and hearth</li>
								<li>Insulation and ventilation</li>
								<li>Garage doors, safety sensors, and openers</li>
							</ul>
						</div>


					</div>

					</div>
					</div>
				</div>
			</article>
<!--
			<article class="clients-testonomials-container">
				<div class="global-head-container head theme-dark head-center">
					<div class="container">
						<div class="head-wrapper">
							<div class="head-title">
								<h2>Testimonials &amp; Clients</h2>
							</div>
							<div class="head-quote">
								<p>Lorem ipsum dolor sit amet, his munere copiosae moderatius ut, an eos porro quaerendum, id quo nonumy meliore partiendo. Cum ea cibo quando. Ad qui quod maluisset.</p>
							</div>
							<div class="head-border"></div>
						</div>
					</div>
				</div>
				<div class="body">
					<div class="testionmials-container">
						<div class="container">
							<div class="row">

								<div class="col col-sm-6">
									<div class="testonomial-block">
										<div class="testonomial">
											<div class="testonomial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s, when an unknown printer took a galley of type and scrambled.</p>
											</div>
											<div class="testonomial-corner"></div>
										</div>
										<div class="user-details">
											<div class="user-icon">
												<img src="assets/images/user-icon.png" class="img-responsive" alt="Konnstantinc" title="Konnstantinc"/>
											</div>
											<div class="user-name">
												<p>Konnstantinc <span>- CEO</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-sm-6">
									<div class="testonomial-block">
										<div class="testonomial">
											<div class="testonomial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s, when an unknown printer took a galley of type and scrambled.</p>
											</div>
											<div class="testonomial-corner"></div>
										</div>
										<div class="user-details">
											<div class="user-icon">
												<img src="assets/images/user-icon.png" class="img-responsive" alt="Konnstantinc" title="Konnstantinc"/>
											</div>
											<div class="user-name">
												<p>Konnstantinc <span>- CEO</span></p>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="clients-container">
						<div class="container">
							<div class="clients-logo-container">
								<ul class="list-inline">
									<li>
										<a href="javascript:;" target="_blank">
											<img src="assets/images/client-logo-01.png" class="img-responsive" alt="Client Logo" title="Client Logo"/>
										</a>
									</li>
									<li>
										<a href="javascript:;" target="_blank">
											<img src="assets/images/client-logo-05.png" class="img-responsive" alt="Client Logo" title="Client Logo"/>
										</a>
									</li>
									<li>
										<a href="javascript:;" target="_blank">
											<img src="assets/images/client-logo-03.png" class="img-responsive" alt="Client Logo" title="Client Logo"/>
										</a>
									</li>
									<li>
										<a href="javascript:;" target="_blank">
											<img src="assets/images/client-logo-04.png" class="img-responsive" alt="Client Logo" title="Client Logo"/>
										</a>
									</li>
									<li>
										<a href="javascript:;" target="_blank">
											<img src="assets/images/client-logo-05.png" class="img-responsive" alt="Client Logo" title="Client Logo"/>
										</a>
									</li>
									<li>
										<a href="javascript:;" target="_blank">
											<img src="assets/images/client-logo-06.png" class="img-responsive" alt="Client Logo" title="Client Logo"/>
										</a>
									</li>
									<li>
										<a href="javascript:;" target="_blank">
											<img src="assets/images/client-logo-07.png" class="img-responsive" alt="Client Logo" title="Client Logo"/>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>

			<article class="estimate-form-container float-section" id="cnt_contact">
				<div class="estimate-form-inner">
					<div class="estimate-form-wrapper">
						<form action="#" method="POST">
							<div class="row">

								<div class="col col-lg-3">
									<div class="form-title">
										<h3>Request a Free Estimate</h3>
									</div>
								</div>
								<div class="col col-lg-9">
									<div class="form-contents">
										<div class="row row-12">

											<div class="col col-md-10">
												<div class="row row-12">
													<div class="col col-md-4">
														<div class="form-group">
															<div class="selectpicker-container">
																<select name="knockout_type" id="knockout_type" class="select-picker">
																	<option>Termite control</option>
																	<option>Pest control</option>
																	<option>Bug control</option>
																	<option>Jerm control</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col col-md-4">
														<div class="form-group">
															<input type="text" name="name" id="name" class="form-control" placeholder="Name"/>
														</div>
													</div>
													<div class="col col-md-4">
														<div class="form-group">
															<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone"/>
														</div>
													</div>
												</div>
											</div>
											<div class="col col-md-2">
												<div class="btn-submit">
													<button class="btn btn-info btn-block">Get Started</button>
												</div>
											</div>

										</div>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
			</article> -->
		</section>


{% endblock %}
