{# ------------------------------------------------------- #}
{# ONE OFF VIEW whatsetsusapart #}
{# This page can use any data from http:localhost:2000/cms/#/form/whatsetsusapart/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this whatsetsusapart's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.whatsetsusapart.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.whatsetsusapart.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.whatsetsusapart.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.whatsetsusapart.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.whatsetsusapart.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in cms.whatsetsusapart.grid %}
            <li>
              <strong>Name: </strong>
              {{ row.name }}
            </li>
            <li>
              <strong>Text: </strong>
              {{ row.text }}
            </li>
            <li>
              <strong>Name: </strong>
              {{ row.name }}
            </li>
            <li>
              <strong>Text: </strong>
              {{ row.text }}
            </li>
            <li>
              <strong>Name: </strong>
              {{ row.name }}
            </li>
            <li>
              <strong>Text: </strong>
              {{ row.text }}
            </li>
            <li>
              <strong>Name: </strong>
              {{ row.name }}
            </li>
            <li>
              <strong>Text: </strong>
              {{ row.text }}
            </li>
            <li>
              <strong>Name: </strong>
              {{ row.name }}
            </li>
            <li>
              <strong>Text: </strong>
              {{ row.text }}
            </li>
            <li>
              <strong>Name: </strong>
              {{ row.name }}
            </li>
            <li>
              <strong>Text: </strong>
              {{ row.text }}
            </li>
        {% endfor %}
        </ul>
      </li>
  </ul>
{% endblock %}
